.icon{background:url(/Public/Images/front/front_img/icon.png)  no-repeat; background-size: 2.3rem 40.35rem;display: block;}
.right3x{height:0.65rem;width:0.4rem;background-position:0 0;}
.DisclosureIndicator3x{height:39px;width:24px;background-position:0 -57px;}
.xiangshang3x{height:0.3rem;width:0.5rem;background-position:0 -2rem;}
.xiala3x{height:0.3rem;width:0.5rem;background-position:0 -2.6rem;}
.choose_s3x{height:0.6rem;width:0.6rem;background-position:0 -3.2rem;}
.sort_tab_active1 .xiangxia3x{height:0.3rem;width:0.5rem;background-position:0 -4rem;}
.CancelCopy3x{height:0.55rem;width:0.55rem;background-position:0 -4.65rem;}
.time_gray3x{height:0.7rem;width:0.6rem;background-position:0 -5.45rem;}
.time3x{height:0.6rem;width:0.6rem;background-position:0 -6.4rem;}
.down3x{height: 0.4rem;width: 0.65rem;background-position:0 -7.35rem;}
.right_gold3x{width: 0.4rem;height: 0.65rem;background: url(/Public/Images/front/front_img/right_gold3x.png) no-repeat;display: block;background-size: 0.4rem 0.65rem;}
.up3x{height:0.45rem;width:0.7rem;background-position:0 -8rem;}
.Cancel_big3x{height:0.7rem;width:0.7rem;background-position:0 -8.8rem;}
.add3x{height:0.7rem;width:0.7rem;background-position:0 -9.85rem;}
.id_account_li .choose3x{height:0.75rem;width:0.75rem;background-position:0 -10.9rem;}
.Increase3x{height:0.8rem;width:0.8rem;background-position:0 -12rem;}
.gonggao3x{height:0.75rem;width:0.8rem;background-position:0 -13.05rem;}
.moren3x{height:0.85rem;width:0.85rem;background-position:0 -14.1rem;}
.footer_active .duobao_gold3x{height:1.15rem;width:0.9rem;background-position:0 -15.3rem;}
.kaijiangjilu3x{height:0.9rem;width:0.9rem;background-position:0 -16.95rem;}
.duobao_white3x{height:1.15rem;width:0.9rem;background-position:0 -18.25rem;}
.youxiguize3x{height:0.95rem;width:0.95rem;background-position:0 -19.75rem;}
.footer_active .geren_gold3x{height:1.2rem;width:1rem;background-position:0 -22.65rem;}
.geren_white3x{height:1.2rem;width:1rem;background-position:0 -21.05rem;}
.duihuanguize3x{height:0.95rem;width:1.1rem;background-position:0 -24.15rem;}
.tuhao_white3x{height:0.95rem;width:1.2rem;background-position:0 -25.3rem;}
.tuhao_gold3x{height:0.95rem;width:1.2rem;background-position:0 -26.65rem;}
.footer_active .shangcheng_gold3x{height:1.3rem;width:1.45rem;background-position:0 -28rem;}
.shangcheng_white3x{height:1.3rem;width:1.45rem;background-position:0 -29.7rem;}
.chengong3x{height:1.5rem;width:1.5rem;background-position:0 -31.35rem;}
.footer_active .jingcai_gold3x{height:1.2rem;width:1.5rem;background-position:0 -33.2rem;}
.jingcia_white3x{height:1.2rem;width:1.5rem;background-position:0 -34.75rem;}
.fail3x{height:1.5rem;width:1.5rem;background-position:0 -36.3rem;}
.tuhao_big3x{height:2.25rem;width:2.3rem;background-position:0 -38.1rem;}
.xiangshang{
	width: 0.5rem;
	height: 0.3rem;
	background: url(/Public/Images/front/front_img/xiangshang.png) no-repeat;
	display: block;
	background-size: 0.5rem 0.3rem;
}
.win3x{
	width: 2.05rem;
	height: 2.05rem;
	background: url(/Public/Images/front/front_img/win3x.png) no-repeat;
	display: block;
	background-size: 2.05rem 2.05rem;
}
.wei{
	width: 0.6rem;
	height: 0.6rem;
	background: url(/Public/Images/front/front_img/wei.png) no-repeat;
	display: block;
	background-size: 0.5rem 0.5rem;
}
